/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

/* Skip to Content Component Style ----------- */
.skip-content {
    > .link {}
}

/* Primary Navigation Component Style ----------- */
.site-navigation {
    > .home {
        display: block;
    }

    > .list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    > .item {}

    > .link {}
}

/* Utility Navigation Component Style ----------- */
/* Toggler Navigation Component Style ----------- */
/* Sub-navigation Component Style ----------- */